.sectionVisit {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
}

.sectionVisit img {
    width: 900px;
}

.textPartVisit {
}

.imgPartVisit {
    width: 100%;

    display: flex;
    justify-content: end;
}

.sectionTechnical,
.sectionCare,
.sectionBelt,
.sectionFuel {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;

    min-height: 100vh;
}

/* =========================text========================= */

.technical, .adviceForAuto {
    font-size: 36px;

    margin-top: 10px;
}

.descriptionTechnical, .textAdvice {
    font-size: 28px;

    margin-top: 15px;
}

/* ==========================end text======================== */



.imagePart {
    display: flex;
    justify-content: space-between;
}

.imagePart img {
    width: 600px;

    border-radius: 15px;
}


@media (max-width: 992px) {
    .sectionVisit, .sectionTechnical, .sectionCare, .sectionFuel, .sectionBelt {
        flex-direction: column;
        align-items: center;
    }

    .sectionVisit .textPartVisit, .sectionTechnical .textPart, .sectionCare .textPart, .sectionFuel .textPart, .sectionBelt .textPart {
        text-align: center;
        align-items: center;
    }

    .sectionVisit img, .sectionTechnical img, .sectionCare img, .sectionFuel img, .sectionBelt img {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .sectionVisit .textPartVisit, .sectionTechnical .textPart, .sectionCare .textPart, .sectionFuel .textPart, .sectionBelt .textPart {
        padding: 10px;
    }

    .sectionTechnical .imagePart img, .sectionCare .imagePart img, .sectionFuel .imagePart img, .sectionBelt .imagePart img {
        flex: 1 1 80%;
        margin: 0 0 10px 0;
    }
}